.edit-form-container {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 2em auto;
    border: 0.08em solid black;
}

.radio-container {
    display: inline;
}

.radio-container *:nth-child(2n-1) {
    margin-left: 1em;
}

.radio-container {
    margin-left: 1em;
}

.edit-form-row {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin: 2em;
}

.form-content {
    flex-grow: 1;
    resize: none;
}

.form-buttons-container {
    display: flex;
    margin: 1em auto;
    width: 100%;
    justify-content: space-around;
}

.edit-form-container input:not([type=radio]) {
    margin-bottom: 0.7em;
    width: 100%;
}

.form-img-container {
    width: 100%;
}

.sample {
    height: 2em;
}

.sample-container {
    height: 2em;
}